.header {
  background-image: url("../images/the-flatiron-building.png");
}

.work {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  font-size: 23px;
  font-weight: bold;
}

.footer {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  text-align: left;
}

.linklist {
  color: white;
  font-size: 18px;
}

.items p {
  font-size: 14px;
}

.items h3 {
  font-size: 23px;
  font-weight: bold;
}

#ourprocess {
  font-size: 32px;
  font-weight: bold;
}

body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}
